:root {
    --background-color: #ffffff;
    --background-color-sec: #f5f5f5;
    --scrollbar-color: #d3d3d3;
    --green: #b7e5c4;
    --card-border: #a0a0a033;
    --other-project: #808080;
    --my-nav-cont: black;
    --text-color: rgba(0,0,0,0.87);
}

.dark-theme {
    --background-color: #202020;
    --background-color-sec: #2a2a2a;
    --scrollbar-color: #555555;
    --green: #6daa8b;
    --card-border: #a0a0a033;
    --other-project: #a0a0a0;
    --my-nav-cont: #f5f5f5;
    --text-color: white;
}


/* Dark theme */

#moon-icon { 
    height: min(5vh, 5vw);
    width: min(5vh, 5vw);
    cursor: pointer; 
    text-align: bottom;
}

/* General */
html {
    color: var(--text-color);
}

body{
    background-color: var(--background-color);
}
/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--background-color);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}


*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
    border: 3px solid var(--background-color);
}
  

hr {
    background-color: var(--background-color-sec);
}

iframe{
    width: max(33.3vw, 324px);
    height: max(22.7vw, 135px);
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}

.shadowless {
    box-shadow: none!important;
}

.code-tags span{
    font-family: Consolas, monaco, monospace;
    padding: 2px;
    background-color: var(--green);
    background-color: var(--background-color-sec);
    margin-right: min(1vh, 1vw);
}

.my-highlight :hover{
    background-color: var(--background-color-sec);
}

/* Header */
#my-title{
    font-size: 3em;
    text-align: center;
}

.my-header{
    font-size: 1.5em;
}

#sc-logo-col {
    float: left;
    margin-top: 20px;
}

#sc-logo {
    width: min(45vh, 27vw, 350px);
    height: min(45vh, 27vw, 350px);
    /* width: 300px; */
    /* height: 300px; */
    border: var(--background-color-sec) 1px solid;
    box-shadow: min(1vh, 1vw) min(1vh, 1vw) var(--background-color-sec);
}

@media (max-width: 1520px) {
    #sc-logo {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 1630px) {
    #my-summary-col {
        width: 60%;
    }
}

@media (max-width: 1550px) {
    #my-summary-col {
        width: 50%;
    }
}

@media (max-width: 1520px) {
    #my-summary-col {
        width: 100%;
    }
}

/* Nav Bar */

.my-nav a{
    color: var(---my-nav-cont);
}

.my-nav img{
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);
    position: relative;
}

.my-nav h2{
    text-align: center;
}

.my-nav-content {
    display: flex;
    justify-content: center;
}

.my-nav-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-nav-content li {
    font-size: min(3h, 3vw);
    float: left;
}

.my-nav-content li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.my-nav-content li a:hover {
    background-color: var(--background-color-sec);
}

#a-codewars {
    background-image: url(./images/logo-red-cd.png);
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
}

/* Work Experience */
.td-logo {
    width: 20%;
    text-align: center;
}

.td-position-name {
    width: 55%;
    text-align: center;
}

.td-period {
    width: 25%;
    text-align: left;
}

.my-work-entry{
    width: 100%;
    padding: max(1vh, 1vw);
    display: flex;
    justify-content: center;
}

.my-work-entry ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-work-entry-content li{
    font-size: 1em;
}

.my-work-entry:hover{
    background-color: var(--background-color-sec);
}

#ikea-logo{
    height: min(7vh, 7vw);
    width: min(21vh, 21vw);
    position: relative;
}

#ibm-logo{
    height: min(7vh, 7vw);
    width: min(21vh, 21vw);
    position: relative;
}

#nyu-logo{
    height: min(7vh, 7vw);
    width: min(21vh, 21vw);
    position: relative;
}

/* Education */

#susu-logo{
    height: min(7vh, 7vw);
    width: min(21vh, 21vw);
    position: relative;
}

#stepik-logo{
    height: min(7vh, 7vw);
    width: min(21vh, 21vw);
    position: relative;
}


/* Projects */

.card-image {
    height: 250px;
    border: 1px solid var(--card-border);
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;

}

#JS-Games {
    background-image: url(./images/JS-Games.png);
    background-size: 100% auto;
}

.other-projects{
    margin-top: 2%;
    color: var(--scrollbar-color);
}

.other-projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.other-projects li {
    font-size: min(3.5vh, 3.5vw);
    float: left;
}


.other-projects li a {
    display: block;
    color: var(--scrollbar-color);
    padding: 16px;
    text-decoration: none;
}

.other-projects li a:hover{
    color: var(--other-project);
}

/* Copy Right Logo */
.my-copyright{
    margin-top: -5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1em;
}
